{{ define "main" -}}
<div class="posts">
    {{ with .Site.GetPage "/about/about" }}
        <h1 class="post-title">{{ .Title }}</h1>
        {{ .Content }}
    {{ end }}
    <br><br>
    {{ range where .Paginator.Pages "Section" "eq" "posts" }}
    <article class="post">
        {{ partial "post/info.html" . }}
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
    </article>
    {{- end }}
</div>
{{ partial "pagination.html" . }}
{{- end }}
